/* General */
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

:root {
  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;

  --yellow: #eecc75;
  --green: #cad297;
  --black: #0c0c0c;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;

  --font-family-titles: "Dosis", sans-serif;
  --font-family-text: "Red Hat Display", sans-serif;
  --font-weight-title1: 400;
  --font-weight-title2: 400;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--purple-medium-3);
  font-size: 62.5%;
}

body {
  background-color: var(--purple-light-1);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 24px;
  color: var(--black);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}
.header-searchForm {
  background-color: var(--purple-light-1);
  border: 1px solid transparent;
  box-shadow: 0 2px 5px;
  border-radius: 24px;
}
input {
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

input::placeholder {
  font-family: var(--font-family-text);
}

button {
  border: none;
  background-color: var(--purple-light-1);
  color: var(--purple-light-1);
  font-weight: var(--font-weight-text2);
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.6rem;
}
button:hover {
  background-color: #efefef;
}

/* Shared */
.header-container,
.trendingPreview-header,
.favoritesPreview-header {
  padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
.favoritesPreview-container footer {
  margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title,
.favoritesPreview-header {
  margin-bottom: 24px;
  margin-top: 24px;
}
.categoriesPreview-title {
  padding: 0 20px;
}

.movie-container {
  cursor: pointer;
  position: relative;
}

.movie-img {
  border-radius: 8px;
  height: 270px;
  min-height: 270px;
  max-height: 270px;
  width: 170px;
  min-width: 170px;
  max-width: 170px;
}
.like-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  top: 5px;
  right: 7px;
}
.like-btn::before {
  content: "🤍";
}
.movie-btn--liked {
  background-color: var(--purple-light-2);
  box-shadow: 0px 0px 10px 2px var(--purple-dark-1);
  height: 30px;
  width: 30px;
}
.movie-btn--liked::before {
  content: "❤️";
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  height: 40px;
  border: 1px solid;
  background-color: #f2f2f2;
  margin-bottom: 24px;
}

/* Header */
.header-container {
  padding-top: 30px;
}

.header-container--long {
  background-image: url("https://pics.filmaffinity.com/Deadpool-777527803-large.jpg");
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35) 19.27%,
      rgba(0, 0, 0, 0) 29.17%
    ),
    url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}

.header-title {
  margin-bottom: 20px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Trending */
.trendingPreview-header,
.favoritesPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 5px;
  height: 32px;
  width: 85px;
}

.trendingPreview-movieList,
.favoritesPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 250px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.movie-container:hover {
  transform: translatey(1px);
  transition: 350ms all;
  color: var(--purple-medium-2);
}
.favoritesPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

/* Categories */
.category-container {
  margin: 0 20px;
}

.category-title {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title:hover {
  transform: scale(1.05);
  transition: 350ms all;
  color: var(--purple-medium-2);
}

/* .category-title::before {
  content: "••••";
  color: transparent;
  TODO: cambiar color por ID de la categoría
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
} */
#id28 {
  --idColor: var(--yellow);
}
#id12 {
  --idColor: var(--red);
}
#id16 {
  --idColor: var(--green);
}
#id35 {
  --idColor: var(--lightBlue);
}
#id80 {
  --idColor: var(--darkBlue);
}
#id99 {
  --idColor: var(--purple-dark-1);
}
#id18 {
  --idColor: var(--purple-medium-1);
}
#id10751 {
  --idColor: var(--yellow);
}
#id14 {
  --idColor: var(--red);
}
#id36 {
  --idColor: var(--green);
}
#id27 {
  --idColor: var(--lightBlue);
}
#id10402 {
  --idColor: var(--darkBlue);
}
#id9648 {
  --idColor: var(--purple-dark-1);
}
#id10749 {
  --idColor: var(--purple-medium-1);
}
#id878 {
  --idColor: var(--yellow);
}
#id10770 {
  --idColor: var(--red);
}
#id53 {
  --idColor: var(--green);
}
#id10752 {
  --idColor: var(--lightBlue);
}
#id37 {
  --idColor: var(--darkBlue);
}

/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  /* width: 47.5%; */
}

.genericList-container .movie-img {
  width: 100%;
}

/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--purple-light-1);
}
.container-header-movieDetail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: baseline;
  margin-bottom: 24px;
}
.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}
.container-icons-movieDetail {
  justify-content: space-around;
  display: flex;
  align-items: baseline;
}
.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}
.like-btn-movieDetail {
  box-shadow: 0px 0px 10px 2px #949494;
  height: 30px;
  width: 30px;
}
.like-btn-movieDetail::before {
  content: "🤍";
}
.movieDetail-description {
  margin: 0 0 24px 0;
  text-align: center;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(95vw - 24px);
  padding-bottom: 16px;
  height: 200px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

/* Footer */
footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Navigation */
.inactive {
  display: none;
}
.movie-img--null {
  background-color: #b8b8b8;
  color: white;
  padding: 80px 20px 80px 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.none {
  display: none;
}
.trendingPreview-movieList::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
}
.trendingPreview-movieList::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
.trendingPreview-movieList::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-color: rgba(0, 0, 255, 0); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
  background-color: #8070d4;
  background-clip: content-box;
}
.favoritesPreview-movieList::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
}
.favoritesPreview-movieList::-webkit-scrollbar-track {
  background: rgb(
    255,
    255,
    255
  ); /* color of the tracking area *
}
.favoritesPreview-movieList::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-color: rgba(0, 0, 255, 0); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
  background-color: #8070d4;
  background-clip: content-box;
}
.relatedMovies-scrollContainer::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
}
.relatedMovies-scrollContainer::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
.relatedMovies-scrollContainer::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-color: rgba(0, 0, 255, 0); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
  background-color: #8070d4;
  background-clip: content-box;
}
.footer__title {
  font-size: 2rem;
}
